In [11]:
import numpy as np
import pandas as pd
pd.set_option('max_rows',5)
import json

In [23]:
df = pd.read_csv('india_fortune.csv')
df2 = pd.read_csv('fortune_2000_in_2021.csv')
df3 = df2.loc[df2.Country=='China']

In [37]:
new_data = '{"a":1,"b":2,"c":3}'
x=json.loads(new_data)

In [38]:
data_new = df.join(df3,lsuffix='_India',rsuffix='_China')

In [39]:
data_new

,Unnamed: 0,Rank_India,Name_India,Country_India,Sales_India,Profit_India,Assets_India,Market Value_India,int_profit,Rank_China,Name_China,Country_China,Sales_China,Profit_China,Assets_China,Market Value_China
0,55,55,Reliance Industries,India,$61.2 B,$5.7 B,$166.3 B,$164.9 B,5.7,1.0,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,109,110,State Bank of India,India,$50.6 B,$3.1 B,$638.1 B,$40.8 B,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,1957,1958,Central Bank of India,India,$3.6 B,$-167.1 M,$49.6 B,$1.4 B,-167.1,49.0,China Life Insurance,China,$113.8 B,$7.3 B,$651.9 B,$57.3 B
49,1966,1967,Avenue Supermarts,India,$3.1 B,$129.1 M,$1.7 B,$25.4 B,129.1,50.0,Industrial Bank,China,$53.8 B,$9.7 B,"$1,207.2 B",$66.5 B

In [42]:
print(x['b'])

2