In [60]:
import pandas as pd
pd.set_option('max_rows',5)
import numpy as np

data = pd.read_csv('fortune_2000_in_2021.csv')

In [61]:
print(data.head(3))

   Rank                Name        Country     Sales   Profit      Assets  \
0     1                ICBC          China  $190.5 B  $45.8 B  $4,914.7 B
1     2      JPMorgan Chase  United States  $136.2 B  $40.4 B  $3,689.3 B
2     3  Berkshire Hathaway  United States  $245.5 B  $42.5 B    $873.7 B

  Market Value
0     $249.5 B
1     $464.8 B
2     $624.4 B

In [62]:
data2 = data.loc[(data.Country=='India')]

In [92]:
def clean(row):
    row["int_profit"] = float(row.Profit[1:len(row.Profit)-1])
    return row
    
new_data = data.apply(clean,axis='columns')
new_data.loc[data.Country=="India"].to_csv("india_fortune.csv")

In [91]:
new_data.groupby("Country").int_profit.agg([len,min,max]).head()

            len    min    max
Country
Argentina     2 -981.6   -0.7
Australia    31 -495.0  972.8
Austria       9 -232.0  830.7
Bahrain       1  418.6  418.6
Bangladesh    1    1.2    1.2

In [17]:
print(df2)

   A  B                     C
0  1  2                 hello
1  1  3            hellohello
2  1  4       hellohellohello
3  1  5  hellohellohellohello

In [18]:
df2.describe()

         A         B
count  4.0  4.000000
mean   1.0  3.500000
std    0.0  1.290994
min    1.0  2.000000
25%    1.0  2.750000
50%    1.0  3.500000
75%    1.0  4.250000
max    1.0  5.000000

In [19]:
df2.loc[0:2,['A']]

   A
0  1
1  1
2  1

In [45]:
print(df)

   B  C
0  2  3
1  5  6

In [46]:
data2 = data.loc[(data.Country=="India")]

NameError: name 'fortune_2000_in_2021' is not defined